/solidworks/Exp Scale Manta Ray/Vendor Parts/Arduino/Nano-New.SLDPRT
Kite Analysis/Wingbox Analysis_files/dp0/designPoint.wbdp
Kite Analysis/Wingbox Analysis_files/dp0/global/MECH/SYS.engd
Kite Analysis/Wingbox Analysis_files/dp0/global/MECH/SYS.mechdb
Kite Analysis/Wingbox Analysis_files/dp0/SYS/ENGD/EngineeringData.xml
Kite Analysis/Wingbox Analysis_files/dp0/SYS/ENGD/material.engd
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/CAERep.xml
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/CAERepOutput.xml
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/ds.dat
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/file.cnd
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/file.DSP
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/file.mntr
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/file.rst
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/file0.err
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/MatML.xml
Kite Analysis/Wingbox Analysis_files/dp0/SYS/MECH/solve.out
Kite Analysis/Wingbox Analysis_files/session_files/journal1.wbjn
Kite Analysis/Wingbox Analysis_files/session_files/journal2.wbjn
Kite Analysis/Wingbox Analysis.wbpj
Kite Analysis/Wingbox Analysis_files/.project_cache
solidworks/Exp Scale Manta Ray/~$EXK-02-0017.SLDDRW
solidworks/Seal Test Assy/Seal_Plate.SLDPRT
solidworks/Seal Test Assy/Pressure_Chamber.SLDPRT
solidworks/Seal Test Assy/MD85MG.stp.SLDASM
solidworks/Seal Test Assy/HS85T.stp.SLDPRT
solidworks/Seal Test Assy/HS85MG5.stp.SLDPRT
solidworks/Seal Test Assy/HS85M.stp.SLDPRT
solidworks/Seal Test Assy/HS85L.stp.SLDPRT
solidworks/Seal Test Assy/120217000012_M-I.stp.SLDPRT
solidworks/Seal Test Assy/120204000003_A26_5_7X2_7__TW.stp.SLDPRT
solidworks/Seal Test Assy/120202000004_18A_CPH_T1_7XL24.stp.SLDPRT
solidworks/Seal Test Assy/120201000013_18A_CBH_M2_3XL5.stp.SLDPRT
solidworks/Seal Test Assy/120105000070_GAG-02-A.stp.SLDPRT
solidworks/Line Angle Sensor/LAS-03-0004-Static 1.MFC
solidworks/Line Angle Sensor/LAS-03-0004-Static 1.LOG
solidworks/Line Angle Sensor/LAS-03-0004-Static 1.CWR
solidworks/Line Angle Sensor/~$LAS-00-0000.SLDASM
solidworks/Line Angle Sensor/~$LAS-01-0002.SLDPRT
solidworks/Line Angle Sensor/~$LAS-01-0008.SLDPRT
solidworks/Line Angle Sensor/~$LAS-01-0010.SLDPRT
solidworks/Line Angle Sensor/~$LAS-01-0012.SLDPRT
solidworks/Line Angle Sensor/~$LAS-01-0014.SLDASM
solidworks/Line Angle Sensor/~$LAS-01-0016.SLDASM
solidworks/Line Angle Sensor/~$LAS-01-0018.SLDPRT
solidworks/Line Angle Sensor/~$LAS-01-0020.SLDPRT
solidworks/Line Angle Sensor/~$LAS-02-0000.SLDASM
solidworks/Line Angle Sensor/~$LAS-02-0002.SLDPRT
solidworks/Line Angle Sensor/~$LAS-02-0003.SLDPRT
solidworks/Line Angle Sensor/~$LAS-02-0006.SLDPRT
solidworks/Line Angle Sensor/~$LAS-03-0000.SLDASM
solidworks/Line Angle Sensor/~$LAS-03-0002.SLDPRT
solidworks/Line Angle Sensor/~$LAS-03-0004.SLDPRT
solidworks/Line Angle Sensor/~$LAS-03-0005.SLDPRT
solidworks/Line Angle Sensor/~$LAS-03-0008.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$4668K150.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$5908K310.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$90715A005.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$90792A445.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$91116A130_TYPE 18-8 STAINLESS STL OVERSIZED FLAT WASHER.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$92510A724_ALUM UNTHRD SPACER.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$92735A120_GROOVED CLEVIS PIN WITH RETAINING RING.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$94805A115.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$97345A104.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/MCM/~$97345A732.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/Renishaw/~$RM22-3D.SLDPRT
solidworks/Line Angle Sensor/Vendor Products/Renishaw/~$RMA-shaft8mm.SLDPRT
solidworks/Pool Tow Testing - Full Scale/Tow System/UMD Winch/~$Winch V4.SLDPRT
solidworks/Exp Scale Manta Ray/~$Weight.SLDPRT
solidworks/Exp Scale Manta Ray/~$vStabTooling.SLDPRT
solidworks/Exp Scale Manta Ray/~$UARTRS485Breakout.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SWD_breakout.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID-6.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID-5.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID-4.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID-3.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID-2.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID-1.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$SOLID-0.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$RED.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$powerRegBoard.SLDPRT
solidworks/Exp Scale Manta Ray/~$mmbt2222.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$MCP73831T-2ACI_OT.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$MBR120.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$KMR2.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$KitePCB.SLDASM
solidworks/Exp Scale Manta Ray/~$JSTXH6_pin_conn.SLDPRT
solidworks/Exp Scale Manta Ray/~$JSTPH.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$EXK-02-0028.SLDPRT
solidworks/Exp Scale Manta Ray/~$EXK-02-0028-Slotted.SLDPRT
solidworks/Exp Scale Manta Ray/~$EXK-02-0015.SLDPRT
solidworks/Exp Scale Manta Ray/~$EXK-01-0016.SLDPRT
solidworks/Exp Scale Manta Ray/~$EXK-01-0006.SLDDRW
solidworks/Exp Scale Manta Ray/~$ESP32_WROOM32_SKINNY.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$ELevatorTooling.SLDPRT
solidworks/Exp Scale Manta Ray/~$Electronics Sled.SLDASM
solidworks/Exp Scale Manta Ray/~$DMG3415U.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$CP2104.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$COMPOUND.step.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$CDMCX525.SLDPRT
solidworks/Exp Scale Manta Ray/~$Buoyancy Model.SLDPRT
solidworks/Exp Scale Manta Ray/~$Board.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$Assem4.SLDASM
solidworks/Exp Scale Manta Ray/~$Assem3.SLDASM
solidworks/Exp Scale Manta Ray/~$5pin_M_254.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$4.7K.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$20329.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$10uF.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/~$10K.stp.STEP.SLDPRT
solidworks/Exp Scale Manta Ray/Vendor Parts/~$KitePCB.SLDASM
solidworks/Exp Scale Manta Ray/Vendor Parts/McMaster/~$92735A500_CLEVIS PIN WITH RETAINING RING GROOVE.SLDPRT
solidworks/Exp Scale Manta Ray/Vendor Parts/McMaster/~$92510A817_ALUM UNTHRD SPACER.SLDPRT
solidworks/Exp Scale Manta Ray/Vendor Parts/Lord/~$CDMCX525.SLDPRT
